/* billie stylish */


@font-face {
    font-family: 'title-font';  /*     Aesthetic-Regular.ttf       Belgiano-Serif-2.ttf       Polyamine.ttf (g)   BeastlyTomahawk.ttf    Vogue.ttf     MOXA-Bestine.woff */
    src: url('fonts/MOXA-Bestine.woff');
}

@font-face {
    font-family: 'text-font';
    src: url('fonts/Baskerville.ttc');
}

.title-font {
    font-family: 'title-font';
}

body {
    font-family: 'text-font';
    /* font-family: monospace; */
    font-size: 20px;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    margin: 10px;
}
pre {
    font-family: 'text-font';
    /* font-family: monospace; */
    margin-left: 25%;
    margin-right: 25%;
}


.centered-container{
    
    margin-left: 20%;
    margin-right: 20%;
    
}


.chapter-select{
    display: flex;
    justify-content: space-between;
    /* padding-left: 90%; */
}




.dark-mode {
    background-color: rgb(44, 44, 44);
    color: white;

}

button {
    background-color: whitesmoke;
    font-size: 26px;
    cursor: pointer;
    padding: 10px 24px;
    border: none;
    position: relative;
}


.dark-mode button {
    background-color: rgb(44, 44, 44);
    color: white;
}


body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

.left-side{
    
    flex: 2;
    overflow-y: auto;
}

.left{
    margin-left: 20%;
    margin-right: 20%;
}

.right-side {
    margin-left: 2%;
    flex: 1;
    overflow-y: auto;
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
}




