/* billie stylish */

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    padding-left: 12%;
    padding-right: 12%;
}

pre{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.dark-mode{
    background-color: rgb(44, 44, 44);
    color: white;
    
}

button{
    background-color: whitesmoke;   
    font-size: 26px;
    cursor: pointer;
    padding: 10px 24px;
    border: none;
    /* border-radius: 5px; */
}

.dark-mode button{
    background-color: rgb(44, 44, 44);
    color: white;
}