body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    margin: 10px;
}

pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-mode {
    background-color: rgb(44, 44, 44);
    color: white;

}
